@model List<FrontEndHousehold.Models.ViewModel.ViewHouseholdViewModel>

@{
    ViewBag.Title = "ViewHousehold";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

<h2>ViewHousehold</h2>

@Html.ActionLink("Create Household", "CreatHousehold")

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No Household Available </strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                @*<th></th>*@
                <th>Date Created</th>
                <th>Date Updated</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in Model)
            {
                <tr>
                    <td>@house.Name</td>
                    <td>@house.Description</td>
                    @*<td>@house.Tickets.Count</td>*@
                    <td>@house.DateCreated</td>
                    <td>@house.DateUpdated</td>
                    <td>
                        <a href="@Url.Action("EditHousehold", "Household"@*, new { id = project.ProjectId }*@)">
                            <i title="Edit Household" class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("InviteMembers", "Household"@*, new { id = project.ProjectId }*@)">
                            <i title="Invite Members" class="fas fa-user-friends"></i>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("ViewUsers", "Household"@*, new { id = project.ProjectId}*@)">
                            <button><i title="View Users" class="fas fa-archive"></i></button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}



